Aesthetic Exploration:1
Creativity/Innovation:2
Critical Thinking:2
Digital/Multimedia Expression:1
Ethical Reasoning:1
First-Year Writing Seminar:1
Global Citizenship and Intercultural Literacy:2
Historical Consciousness:1
Oral and/or Signed Communication:1
Philosophical Inquiry and Life's Meanings:1
Quantitative Reasoning I:1
Quantitative Reasoning II:1
Research and Information Literacy:2
Scientific Inquiry I:1
Social Inquiry I:1
Scientific Inquiry II:1 || Social Inquiry II:1
Teamwork/Collaboration:2
The Individual in Community:1
Writing, Research, and Inquiry:1
Writing-Intensive Course:2